/*Heights menores para tarjetas de subcategoria*/
#subcategorias .card{
  min-height: 7rem; /*Hace que al menos todas las tarjetas tengan la misma algura*/
}

/*Para todo menos movil*/
@media (min-width: 768px) {
#subcategorias .card {
    min-height: 16rem; /*Hace que al menos todas las tarjetas tengan la misma algura*/
  }
}