/* Estilos mobile-first */
body {
  font-family: poppins, sans-serif;
}


header, .navbar, footer {
  background-color: #F68628;
  --bs-navbar-color: #fff;
  --bs-navbar-active-color: #fff;
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1040;      /* por encima del contenido */
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.copyright {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
}

/* Logo */
.navbar-brand img {
  width: 120px;
  height: auto;
  padding-top: 10px;
}

/* Son las opciones del menu de categoria */
nav ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* */
nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Botones de búsqueda e icono */
.search-btn,
.search-icon-mobile {
  background: none;
  padding: 0px 10px 0px 10px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.search-bar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* Ícono de búsqueda (mobile visible) */
.search-icon {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
}

/* Panel deslizable del encabezado móvil */
.hidden-container-mobile {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 10px;
  box-shadow: 0  4px  rgba(0, 0, 0, 0.1);
  background-color: #F68628;
  transition: max-height 0.3s ease-out;
}
.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Input dentro del buscador móvil */
.hidden-container-mobile input {
  border-radius: 0.5rem;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

/* Formulario de búsqueda general */
form[role="search"] .form-control {
  border-radius: 0.5rem;
}

input[type="search"]:focus {
  border-color: #0077ff;
}

/* Ícono de hamburguesa blanco y sin borde */
.custom-toggler {
  border: none;
  box-shadow: none;
  background: none;
  
}

/* Ícono del menú (mobile por defecto) */
.custom-toggler .navbar-toggler-icon {
  cursor: pointer;
  width: 32px;
  height: 40px;
  mask: url(../resources/icons/basil--menu-outline.svg) no-repeat center / contain ;
  background-color: white;
}

.custom-toggler:focus,
.custom-toggler:active {
  outline: none;
  box-shadow: none;
  background: transparent;
}

/* Contenedor de íconos */
.social-icons {
  display: flex;
  justify-content: center;  /* centra horizontalmente */
  align-items: center;      /* alinea verticalmente */
  gap: 1.5rem;              /* espacio entre íconos */
  flex-wrap: wrap;          /* permite que bajen si el ancho no cabe */
}

/* Íconos individuales */
.social-icon {
  height: 30px;             /* todos con altura igual */
  width: auto;              /* mantiene proporción */
  transition: transform 0.2s ease;
  cursor: pointer;
  color: white;
}   

.telegram-icon, .tiktok-icon {
  height: 35px;
}

.instagram-icon {
    height: 37px;
}

.social-icon:hover {
  transform: scale(1.1);    /* efecto sutil al pasar el mouse */
}


@media (min-width: 768px) {
  header, .navbar, footer {
    padding: 1dvh 3dvh;
    padding: 1vh 3vh;

  }

  .custom-toggler, .search-icon-mobile {
    display: none;
  }

  .hidden-container-mobile{
    all: revert ;
    display: block;
  }

  .navbar {
    display: grid;
    grid-template-columns: 187px 1fr 1fr;
    justify-content: space-between;
    align-items: center;
  }
  #categoryContainer {
    grid-column-start: 3;
    grid-row-start: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  nav ul {
    width: 100%;
    flex-direction: row;
    align-items: stretch ;
  }

  nav li {
    width: 100%;
  }

  .navbar-brand {
    padding: 10px;
    grid-column-start: 1;
  }
  
  .navbar-brand img {
    width: 140px;
  }

  #searchContainer {
    padding: 10px;
    grid-column-start: 2;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: stretch;
  }

  input {
    flex:1 ;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }

}