/* Import de font Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilos mobile-first */
body {
  font-family: poppins, sans-serif;
  margin: 0;
}

header, .navbar, footer {
  background-color: #F68628;
  --bs-navbar-color: #fff;
  --bs-navbar-active-color: #fff;
  color: #fff;
}

/* Acomoda el header al inicio de la pagina */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1040;      /* por encima del contenido */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  margin: 7rem 2rem;
  max-width: 95dvw;
  max-width: 95vw;
}

section {
  margin-bottom: 2rem;
}

footer {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: 0;
}

footer img {
  display: block;
}

.copyright {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
}

/* Logo Nuevo Leon*/
.navbar-brand img {
  width: 120px;
  height: auto;
  padding-top: 10px;
}

/* Son las opciones del menu de categoria */
nav ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Hace que los elementos eliminen los * y el subrayado*/
nav ul li a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-weight: bold;
  font-size: clamp(1.5rem, 2dvw + 0.5rem, 2.5rem);
  font-size: clamp(1.5rem, 2vw + 0.5rem, 2rem);
  margin-bottom: 0.2rem;
}

.card-title {
  font-weight: bold;
  margin-bottom: 0;
  font-size: clamp(1rem, 1vw + 0.5rem, 1.25rem);
}

p {
  font-size: clamp(0.9rem, 0.8vw + 0.5rem, 1.1rem);
}

.price {
  font-weight: 600;
}

/* Botones de búsqueda e icono */
.search-btn,
.search-icon-mobile {
  background: none;
  padding: 0px 10px 0px 10px;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Se encarga que la barra busqueda se estire en Movil y Dektop*/
.search-bar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* Ícono de búsqueda (mobile visible) */
.search-icon {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
}

/* Panel deslizable del encabezado móvil */
.hidden-container-mobile {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 10px;
  box-shadow: 0  4px  rgba(0, 0, 0, 0.1);
  background-color: #F68628;
}
/* Estado que muestra cuando en movil se muestra ya sea categoria o barra de busqueda*/
.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item:hover {
  border-bottom: solid white 2px;
}

.nav-item:active {
  border-bottom: solid white 2px;
}

/* Input dentro del buscador móvil */
.hidden-container-mobile input {
  border-radius: 0.5rem;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

/* Formulario de búsqueda general */
form[role="search"] .form-control {
  border-radius: 0.5rem;
}
/* Hace que cuando selecciones la barra se ponga azul*/
input[type="search"]:focus {
  border-color: #0077ff;
}

/* Ícono del menú (mobile por defecto) */
.custom-toggler .navbar-toggler-icon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  mask: url(../resources/icons/basil--menu-outline.svg) no-repeat center / contain ;
  background-color: white;
}

/* Contenedor de íconos */
.social-icons {
  display: flex;
  justify-content: center;  /* centra horizontalmente */
  align-items: center;      /* alinea verticalmente */
  gap: 1.5rem;              /* espacio entre íconos */
  flex-wrap: wrap;          /* permite que bajen si el ancho no cabe */
}

/* Íconos individuales */
.social-icon {
  height: 30px;             /* todos con altura igual */
  width: auto;              /* mantiene proporción */
  transition: transform 0.2s ease;
  cursor: pointer;
  color: white;
}   

.telegram-icon, .tiktok-icon {
  height: 35px;
}

.instagram-icon {
    height: 37px;
}

.social-icon:hover {
  transform: scale(1.1);    /* efecto sutil al pasar el mouse */
}

/* Son las tarjetas que muestran productos o emprendedores */
.card {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  display: flex; /*para poder centrar los elementos de adentro */
  min-height: 20rem; /*Hace que al menos todas las tarjetas tengan la misma algura*/
  flex: 1 0 30vw; /* Declara el tamaño minimo es 30% de la pantalla, ademas que puede crecer si es necesario */
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  color: inherit ; /* Elimina que los links tengan color azul*/
  text-decoration: none; /* Elimina que los links tengan un subrayado*/
  box-shadow: 0 4px 8px 0 lightgray;
  overflow: hidden;
  transition: transform 0.5s, box-shadow;
}

.card:not(.no-action):active {
  border-color: #F68628;
  border-width: 2px;
}

.card:not(.no-action):hover{
  box-shadow: 0 4px 8px 0 black;
  transform: scale(1.1, 1.1);
}

/* Son las imagenes que estan en las tarjetas*/
.card-img-top {
  margin: 0 auto 1rem auto;
  max-width: 100%;  /* Tamaño dependiendo de la pantalla*/
  max-height: 8rem;
  object-fit: contain;
  background-color: #fff;
}

.galery-display{
    display: flex;
    flex-wrap: wrap; /* Con wrap automaticamente se acomoda con la pantalla*/
    justify-content: space-around;
    align-items: start;
    gap: 0.5rem;
}

/* Seccion encargada de los productos destacados*/
.productos-scroll {
    overflow-x: scroll; /* Hace que se pueda hacer scroll en movil*/
    display: flex;  /* Es un flex para poder centra más facilmente*/
    justify-items: space-around;
    align-items: center;
    gap: 0.5rem;
}

/* Layouts para todo excepto movil*/
@media (min-width: 768px) {
  footer {
    padding: 3vh;
  }
  
  main {
      margin: 9rem 3rem;
      font-size: 16px;
  }

/* Esconde botones exclusivos para movil*/
  .custom-toggler, .search-icon-mobile {
    display: none;
  }

/* Muestra las secciones escondidas de movil para Desktop*/
  .hidden-container-mobile{
    all: revert ; /* Sobreescribe y resetea las caracteristicas */
    display: block; /* Muestra la barra de busqueda y categorias*/
  }

/* Hace que el header sea un grid para reacomodar los elementos*/
  .navbar {
    padding: 0px 3.5rem;
    display: grid;
    grid-template-columns: 187px 0.9fr 0.5fr; /* 187 es el minimo del logo */
    align-items: center;
  }

  /* Hace que el logo sea primero */
  .navbar-brand {
    padding: 10px;
    grid-column-start: 1;
    grid-row-start: 1;
  }
  
  /* Agranda el logo*/
  .navbar-brand img {
    width: 140px;
  }

  /* Coloca la barra de busqueda despues del logo*/
  #searchContainer {
    padding: 0px 0.3vw;
    grid-column-start: 2;
    grid-row-start: 1; /* Hace que las opciones este centradas en la primera*/
    display: flex;
  }

  /* Hace que la barra de busqueda pueda extenderse al tamaño de la pantalla */
  input {
    flex:1 ;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }

  /* Hace que las categorias sea al final*/
  #categoryContainer {
    grid-column-start: 3;
    grid-row-start: 1;  /* Hace que las opciones este centradas en la primera*/
  }

  /* Hace que las categorias sean ahora horizontales y mas grandes*/
  nav ul {
    font-size: 18px;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .card {
    flex: 1 0 15vw; /* Cambia que el tamaño minimo ahora sea de 15% del tamaño de pantalla*/
    min-height: 22rem;
    justify-content: space-around;
    align-items: center;
    }

  .productos{
    margin: auto 2rem auto auto;
  }

  .card-img-top {
    max-width: 100%;  /* Tamaño dependiendo de la pantalla*/
    max-height: 12rem;
    object-fit: contain;
    display: block;
    margin: 0 auto 1rem auto;
    background-color: #fff;
  }
    /* Se encarga de cambiar los productos a que sean ahora wrap para Desktop*/
  .productos-scroll {
    overflow: visible; /* Elimina la scrollbar*/
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

